  /* Styling for square image */
  .square-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Ratio 1:1 */
}

.square-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Make the image fill the container with the correct aspect ratio */
}

/* Responsive adjustments */
@media (max-width: 767px) {
    /* Increase the size of the square image on mobile devices */
    .square-container {
        padding-top: 150px; /* Reduce padding on mobile view */
        margin-bottom: 10px;
    }
    .square-image {
        width: 100%;
        height: 100%;
    }
    .row-cols-2 > .col {
        margin-bottom: 5px; /* Reduce spacing between images top and bottom */
    }
    
    .bawah{
        margin-bottom: 60px;
    }
}

/* Responsive adjustments */
@media (max-width: 350px) {
    /* Increase the size of the square image on mobile devices */
    .square-container {
        padding-top: 110px; /* Reduce padding on mobile view */
        margin-bottom: 10px;
    }
    .square-image {
        width: 100%;
        height: 100%;
    }
    .row-cols-2 > .col {
        margin-bottom: 5px; /* Reduce spacing between images top and bottom */
    }
    
    .bawah{
        margin-bottom: 60px;
    }
}